.text-overlay {
    margin-top: 180px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    color: rgb(220, 25, 25);
    padding-left: 160px;
    font-size: 80px;
    font-family: arial;
    text-shadow: 0px 10px 10px black;
}

.background-image {
    width: 100%;
}

.p {
    width: 1400px;
    font-size: 20px;
    padding-left: 50px;
    text-align: justify;
}

#card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#card h1 {
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-0 {
    border-radius: 15px;
}

.card h2 {
    text-align: center;
    font-family: arial;
    margin-top: 0%;
    padding-top: 10px;
}

.card-0:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
    box-shadow: 0px 8px 8px black;
    
}

@media (max-width: 768px){

    .background-image {
        width: 435px;
        height: auto;
    }

    .text-overlay{
         font-size: 30px;
         padding-left: 70px;
         margin-top: 190px;
         color: rgb(251, 251, 251);
    }

    .p{
        padding-left: 20px;
        width: 400px;
    }

    .card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .card h2{
        padding-top: 0%;
    }
}