.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 300px;
    padding-right: 300px;
    gap: 50px;
    padding-top: 100px;
}

.card-image {
    border-radius: 25px;
}

#card {
    text-align: justify;
    padding-top: 100px;
}

.button {
    background-color: rgb(243, 136, 5);
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 10px ;
    font-size: 15px;
    cursor: pointer;
    margin-top: 30px;
    width: 150px;
}